
body{
    margin:0;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 2.3em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 1px solid lightblue;
    padding-bottom: 0.7em;
}

h3{
    font-size: 1.2em;
    font-weight: medium;
}

h4{
    font-size: 1.1em;
}

li{
    padding: 0.6em 0em 0.6em 0;
}

#topbar span{
    text-transform: uppercase;
    font-weight: bold;
}

#topbar p{
    margin: 0.8em;
}

/*Macro container Homepage*/

header{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 8em;
}

#topbar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightgoldenrodyellow;
    border-top: 0.1em solid yellowgreen;
}

main{
    width: 50%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 0;*/
    margin: auto;
}

footer{
    width: 50%;
    margin: auto;
    padding: 0.5em;
}

/*elementi della home*/

#logo{
    width: 15%;
    /*max-height: 4em;*/
    padding: 2em;
}

.page-title{
    /*display: flex;
    justify-content: center;*/
}

.page-introduction{
    /*display: flex;
    justify-content: flex-start;*/
}

.hero-image{
    border-radius: 16px;
    box-shadow: 6;
    width: 100%;
}

.image-credits{
    display: flex;
    justify-content: center;
}

.image-credits p {
    color: grey;
}

.related-content{
    padding-left: 1.2em;
    border-left: 1px solid darkgoldenrod;

}

.related-content a{
    text-transform: capitalize;
}

.related-content h3{
    text-transform: uppercase;
    color: darkred;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
}
